@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --bck-white-alp: #ffffff33;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
  font-size: 1.2rem;
}

p {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

button {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: "VT323", monospace;
  color: white;
  cursor: pointer;
}

.snk-brd {
  position: absolute;
  inset: 0;
  background: black;
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
  z-index: -1;
  gap: 1px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: grid;
  grid-template-columns: repeat(150, 1fr);
  grid-template-rows: repeat(150, 1fr);
}

.header {
  position: sticky;
  inset: 0;
  height: 70px;
  border-bottom: 1px solid var(--bck-white-alp);
}

.main {
  height: 100vh;
  width: 100vw;
  /*   background: red; */
}

.hero-bck-img {
  /*   border-radius: 5px; */
  background: #ffffff33;
}

.snk {
  background: white;
  box-shadow: 0 0 4px 3px #ffffff29;
}

.snk-hd {
  background-color: red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.snk-hd::before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: black;
  --w: 1px;
  width: var(--w);
  height: var(--w);
}

.snk-fd {
  display: block;
  background-color: red;
  grid-row-end: span 1;
  grid-column-end: span 1;
  box-shadow: 0px 0px 17px 14px #ff00003b;
  animation: breath 1s 0.5s linear alternate infinite;
}

@keyframes breath {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes highlight {
  from {
    scale: 1;
  }

  50% {
    scale: 3;
  }

  to {
    scale: 1;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer p:first-child {
  margin-right: 1rem;
}

footer p:last-child {
  margin-left: auto;
}

.game-state-container {
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game {
  font-size: 8rem;
  text-shadow: -3px -3px red, 2px 2px red, 5px 5px red;
  align-self: flex-end;
  animation: blink 0.5s steps(1, end) infinite;
  display: block;
  position: relative;
}

.pause-game {
  position: fixed;
  bottom: 0;
  align-self: flex-end;
  justify-self: center;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pause-game span {
  scale: 2;
  rotate: 90deg;
  transform-origin: center;
  translate: 0 1px;
}

.hide {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
